* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}
#bodyframe {
	
	background-color: #ffffff;
	background-size: 100%;
	overflow: hidden;
}

.background-ball {
	margin-right: 55%;
	height: 50vh;
	width: 50vh;
	float: right;
	margin-bottom: 100px;
}

.wrapper {
	justify-content: left;
	float: left;
	align-items: center;
	width: 100vw;
	height: 100vh;
	margin-right: 30px;
	background-color: #ffffff;
}

.quiz {
	display: grid;
	grid-template-rows: 60px auto;
	width: 600px;
	height: 550px;
	border-radius: 50px;
}

.quiz_header {
	display: flex;
	z-index: 1;
}

.quiz_user {
	display: flex;
	align-items: center;
	height: 100%;
	padding-left: 30px;
	color: #ffffff;
}

.quiz_body {
	padding: 20px 30px;
	background-color: #fff;
	background: rgba(255, 254, 254, 0.4);
}

.option {
	display: block;
	width: 300px;
	background-color: #fff;
	margin-bottom: 20px;
	padding: 15px 20px;
	border-radius: 50px;
	border: 2px solid transparent;
	transition: 0.4s all;
}

.option:hover {
	cursor: pointer;
	border: 2px solid #0d6efd;
	color: #368796;
}

.option.active {
	background-color: #b5b7b8;
	color: #fff;
}

img {
	width: 600px;
	opacity: 50%;
	right: 0px;
	bottom: 0px;
	position: absolute;
}

.username,
.userpoints {
	color: blue;
	text-align: center;
	margin-top: 15px;
	margin-left: 175px;
}

.your-p {
	color: black;
	font-weight: bolder;
	font-size: xx-large;
}

.your-n {
	font-size: 50px;
	color: rgb(15, 197, 85);
}

p > span {
	color: black;
	font-weight: bolder;
	font-size: xx-large;
}

.border {

	height: 500px;
	width: 500px;
	margin: 0%;
}

#BOOTFLAG {
	margin-right: 60%;
}

/* For small screen size from 360px wide and down */

@media screen and (max-width: 360px) {

	#bodyframe {
		background-size: 360px 740px;
		height: 740px;
	}

	.background-ball {
		margin-bottom: 200%;	
		margin-right: 100px;
	}

	h2 {
		margin-right: 110px;
		font-size: x-small;
	}

	ul {
		margin-left: -55px;
		font-size: small;
	}

	.option {
		width: 150px;	
	}

	.quiz_body {
		float: left;
	}

	.border {
		float: left;
		background-size: 360px 740px;
		height: 740px;
	}
}