* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-image: url("/assets/images/BALLFLAG.png");
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
.quiz {
	display: grid;
	grid-template-rows: 60px auto;
	width: 600px;
	height: 500px;
	border-radius: 50px;
}
.quiz_header {
	display: flex;
	justify-content: space-between;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #fff;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.quiz_user {
	display: flex;
	align-items: center;
	height: 100%;
	padding-left: 30px;
}
.quiz_body {
	padding: 20px 30px;
	background-color: #fff;
	background: rgba(255, 254, 254, 0.4);
}

