* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {

	background-color: yellow;
}

.background-ball {
	margin-right: 55%;
	margin-top: 60%;
	height: 100%;
	width: 50%;
}

.wrapper {
	display: flex;
	justify-content: right;
	float: right;
	align-items: center;
	width: 100vw;
	height: 100vh;
	margin-right: 30px;
}
.quiz {
	display: grid;
	grid-template-rows: 60px auto;
	width: 600px;
	height: 500px;
	border-radius: 50px;
}
.quiz_header {
	display: flex;
	justify-content: space-between;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #fff;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.quiz_user {
	display: flex;
	align-items: center;
	height: 100%;
	padding-left: 30px;
}

.quiz_body {
	padding: 20px 30px;
	background-color: #fff;
	background: rgba(255, 254, 254, 0.4);
}

.option {
	display: block;
	width: 300px;
	background-color: #fff;
	margin-bottom: 20px;
	padding: 15px 20px;
	border-radius: 50px;
	border: 2px solid transparent;
	transition: 0.4s all;
}
.option:hover {
	cursor: pointer;
	border: 2px solid #0d6efd;
	color: #368796;
}
.option.active {
	background-color: #b5b7b8;
	color: #fff;
}

img {
	width: 600px;
	opacity: 50%;
	right: 0px;
	bottom: 0px;
	position: absolute;
}
.username,
.userpoints {
	color: blue;
	text-align: center;
	margin-top: 15px;
	margin-left: 175px;
}
.your-p {
	color: black;
	font-weight: bolder;
	font-size: xx-large;
}
.your-n {
	font-size: 50px;
	color: rgb(15, 197, 85);
}

p > span {
	color: black;
	font-weight: bolder;
	font-size: xx-large;
}
.border {
	height: 500px;
	width: 500px;
	display: block;
	justify-content: center;
	margin: 0px 400px;
	border-radius: 10px;
	top: 100px;
	border-color: transparent;
}
@media screen and (max-width: 415px) {
	body {
		background-image: none;
	}
}

/* For small screen size from 412px wide and down */

@media screen and (max-width: 412px) {

	
	body {
		width: 412px;
		height: 914px;
	}

	.background-ball {
		width: 50%;
		height: 50%;
	}
	
}