/* Global setting */
* {
	box-sizing: border-box;
}
/* Body style */
body {
	background-image: url("/assets/images/WCTROPHY.png");
	background-repeat: no-repeat;
	background-position: center;
	display: grid;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}
/* header style */
.heading {
	display: flex;
	justify-content: center;
	align-items: center;
}
.fifa-head {
	text-decoration: none;
}
/* .container section style */
.container section {
	width: 300px;
	margin-left: 0px;
}
/* div. style */
.col.s12.l6.offset-l3 {
	margin-left: auto;
}
/* .container style */
.container {
	background-color: #fff;
	background: rgba(255, 254, 254, 0.4);
	border-radius: 10px;
	box-shadow: 0 0 10px 2px rgba(199, 18, 18, 0.1);
	width: 500px;
	overflow: hidden;
	display: grid;
	justify-content: center;
	align-items: center;
	margin-left: 0;
}
/* input text color */
.white-text {
	color: #0d6efd !important;
}
/* paragraph style */
P {
	padding: 8px;
}
