/* Global setting */
* {
	box-sizing: border-box;
}
/* Body style */
body {
	background-image: url("/assets/images/WCTROPHY.png");
	background-repeat: no-repeat;
	background-position: center;
	display: grid;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}
/* header style */
.heading {
	display: flex;
	justify-content: center;
	align-items: center;
}
.fifa-head {
	text-decoration: none;
}
/* .container section style */
.container section {
	width: 300px;
	margin-left: 0px;
}