
Body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

Header {
	background-color: rgba(9, 9, 216, 0.89);
	width: 100%;
	height: 120px;
	display: inline-block;
}

h1 {
    color:#FFFFFF;
    margin-left: 15px;
}

li {
    font-weight: bold;
}

.flagsright {
    width: 40%;
	height: 100%;
    line-height: 5cm;
    display: inline-block;	
    margin-top: 30px;
    margin-left: 10%;
}

.contentquiz {
    float: left;
    width: 50%;
    height: auto;
    display: inline-block;	
    line-height: 1cm;
    margin-top: 30px;
}

footer {
	background-color: rgba(9, 9, 216, 0.89);
	width: 100%;
	height: 80px;
	display: inline-block;
}

.socialmedia {
	color: #FFFFFF;
	font-size: larger;
	margin-left: 15px;
}

span {
    color: #FFFFFF;
}